.ygff-hidden-thread { display: none !important; }

.fsp .tabGroup.tabGroup--threads .tabGroup-content .item--thread.ygff-row-light {
  background: #2E3B42 !important;
}

.fsp .tabGroup.tabGroup--threads .tabGroup-content .item--thread.ygff-row-dark {
  background: transparent !important;
}

.ygff-ignore-button {
  margin-right: 8px !important;
  cursor: pointer;
}
